.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.hexRgb {
  position: absolute;
  top: 50%;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
}

.hex {
  width: 200px;
  height: 60px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 2px;
}

.rgb {
  position: relative;
  width: 200px;
  height: 60px;
  padding-top: 10px;
  border: none;
  font-size: 15px;
  text-align: center;
  background-color: #000000;
  opacity: 0.5;
  vertical-align: middle;
}

.rgb span {
  position: relative;
  color: #ffffff;
  vertical-align: middle;
  z-index: 1;
}